# Игнорировать виртуальные окружения
.venv
venv/
/venv
/venv/

# Игнорировать кэш Python
__pycache__/
**/__pycache__/
*.py[cod]

# Игнорировать локальные файлы IDE
.vscode/
.idea/

# Игнорировать временные файлы
*.log
*.tmp