

/* Общие стили */
body { 
    font-family: Arial, sans-serif;
    background-color: #1d1f21;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
    min-height: 100vh;
}
.genre-title{
    font-size: 50px;
}

h1, h2, h3 {
    color: #C71585;
}

.container {
    width: 90%;
    margin: auto;
    flex: 1;
    margin-top: 40px;
}





/* Навигация */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #2c2f33;
    border-bottom: 5px solid #C71585;
    vertical-align: center;
    position: relative;
    padding-right: 40px;
    padding-left: 35px;
}

.search-box {
    display: flex; /* Добавляем Flexbox */
    align-items: center; /* Выравниваем элементы по центру вертикально */
    background: black !important;
    height: 40px;
    border-radius: 40px;
    padding-left: 15px;
    flex-grow: 1;
    max-width: 600px; /* Ограничиваем максимальную ширину */
    margin: 0 20px; /* Добавляем отступы */
    max-width: 600px;
    margin: 0 auto; 
}

.header-btn {
    color: #C71585;
    float: right;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background: #1d1f21;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #C71585;
    cursor: pointer;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 90%;
}

.search-form {
    width: 100%;
}

/* это нужно чтобы автозаполнение браузера не ломало форматирование */
.search-box .search-txt:-webkit-autofill,
.search-box .search-txt:-webkit-autofill:hover,
.search-box .search-txt:-webkit-autofill:focus,
.search-box .search-txt:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

.search-box .search-txt:-moz-autofill {
    color: white !important;
    background-color: black !important;
}





/* Контейнер книг */


/* .book-container {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    position: relative;
    flex-wrap: nowrap;
    transition: margin 0.3s ease;
    scroll-behavior: smooth;
}

.book-card {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 200px;
    height: 300px;
    position: relative;
    flex-shrink: 0;
}

.book-card:hover {
    transform: translateY(-10px);
}

.book-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-color: #444;
    border-radius: 10px;
}

.book-info {
    margin-top: 10px;
}

.book-info h3 {
    font-size: 16px;
    margin: 5px 0;
}

*/

.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

/* Стили для обертки слайдов */


.swiper-wrapper {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    /* justify-content: center; */
    /* width: 100%; */
    /* position: relative; */
    /* flex-wrap: nowrap; */
    /* transition: margin 0.3s ease; */
}

.swiper-slide { /* вот тут чето бред какой-то надо переделать*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b50a9e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для карточки книги */
.book-card {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 100%;
    height: 300px;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.book-card:hover {
    transform: translateY(-10px);
}

/* Стили для изображения книги */
.book-image {
    width: 150px; /* Ширина изображения */
    height: 80%; /* Высота изображения */
    background-size: cover; /* Чтобы изображение заполняло блок */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-bottom: 10px;
    align-items: center;
    margin: 0 auto;
    display: block;
}

/* Стили для информации о книге */
.book-info {
    margin-top: 10px;
}

.book-info h3 {
    font-size: 16px;
    margin: 5px 0;
}

/* Стили для пагинации Swiper */
.swiper-pagination {
    position: relative;
    margin-top: 10px;
}

/* Стили для кнопок навигации Swiper */
