{% extends 'base.html' %}
{% load static %}


{% block title %}
{{book.title}}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="../../static/books/css/book_detail.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="book-container">
        <div class="book-cover-container">
            <img id="book-cover" src="{{ book.thumbnail }}" alt="Обложка книги">
        </div>
        <div class="book-details">
            <p id="book-title">{{ book.title }}</p>
            <p id="book-author">Автор: {{ book.authors }}</p>
            <p id="book-description">{{ book.description }}</p>
            <p id="book-publisher">Издательство: {{ book.publisher }}</p>
            <p id="book-year">Год: {{ book.published_date }}</p>
            <p id="book-pages">Страниц: {{ book.page_count }}</p>

            <!-- Прогресс-бар -->
            <div class="progress-bar-container">
                <p>Прочитано: <span id="book-progress-text">0%</span></p>
                <div class="progress-bar" id="progress-bar">
                    <div class="progress-fill" id="progress-fill" style="width: 0%;"></div>
                </div>
            </div>

            <!-- Кнопка "Добавить" и выпадающее меню -->
            <div class="add-button-container">
                <button class="add-button" onclick="toggleStatusButtons()">Добавить</button>
                <div class="status-buttons" id="status-buttons">
                    <button class="reading-button" onclick="updateStatus('reading')">Читаю</button>
                    <button class="want-to-read-button" onclick="updateStatus('want-to-read')">В планах</button>
                    <button class="read-button" onclick="updateStatus('read')">Прочитано</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/books/js/book_detail.js"></script>
{% endblock %}