{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
{% endblock %}

{% block content %}
<!-- Секции жанров книг -->
<div class="container">
    <!-- Жанр 1: Фэнтези -->
    <div class="genre-container">
        <h2 class="genre-title">Фэнтези</h2>
        <div class="fantasy-carousel book-carousel">
            {% for book in fantasy_books %}
                <div class="book-card">
                    <a href="{% url 'book_detail' book.id %}">
                        <div class="book-image" style="background-image: url('{{ book.thumbnail }}');"></div>
                        <div class="book-info">
                            <h3>{{ book.title }}</h3>
                            <p>Автор(ы): {{ book.authors }}</p>
                            <p>Издатель: {{ book.publisher }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Жанр 2: Детективы -->
    <div class="genre-container">
        <h2 class="genre-title">Детективы</h2>
        <div class="detective-carousel book-carousel">
            {% for book in detective_books %}
                <div class="book-card">
                    <a href="{% url 'book_detail' book.id %}">
                        <div class="book-image" style="background-image: url('{{ book.thumbnail }}');"></div>
                        <div class="book-info">
                            <h3>{{ book.title }}</h3>
                            <p>Автор(ы): {{ book.authors }}</p>
                            <p>Издатель: {{ book.publisher }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Жанр 3: Манга -->
    <div class="genre-container">
        <h2 class="genre-title">Манга</h2>
        <div class="manga-carousel book-carousel">
            {% for book in manga_books %}
                <div class="book-card">
                    <a href="{% url 'book_detail' book.id %}">
                        <div class="book-image" style="background-image: url('{{ book.thumbnail }}');"></div>
                        <div class="book-info">
                            <h3>{{ book.title }}</h3>
                            <p>Автор(ы): {{ book.authors }}</p>
                            <p>Издатель: {{ book.publisher }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Жанр 4: Романы -->
    <div class="genre-container">
        <h2 class="genre-title">Романы</h2>
        <div class="romance-carousel book-carousel">
            {% for book in romance_books %}
                <div class="book-card">
                    <a href="{% url 'book_detail' book.id %}">
                        <div class="book-image" style="background-image: url('{{ book.thumbnail }}');"></div>
                        <div class="book-info">
                            <h3>{{ book.title }}</h3>
                            <p>Автор(ы): {{ book.authors }}</p>
                            <p>Издатель: {{ book.publisher }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="{% static 'books/js/main.js' %}"></script>
{% endblock %}