{% extends 'base.html' %}
{% load static %}


{% block title %}
Поиск: {{ query }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'books/css/search.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    
    <div class="search-header">
        <h2 style="width: 70%;" id="result-title">Результаты поиска для "{{ query }}"</h2>


        <div class="sort-container" id="sort-container">
            <button class="reverse-button" onclick="reverseBooks()">
                <i class="fa fa-sync-alt"></i>
            </button>
            <select class="sort-select" id="sortOption">
                <option value="pages">Кол-ву страниц</option>
                <option value="year">Году выхода</option>
            </select>
            <button class="sort-button" onclick="sortBooks()">Сортировать</button>
        </div>
    </div>
    <div class="book-container" id="book-container">
        {% for book in books %}
        <a style="text-decoration: none;" href="{% url 'book_detail' book.id %}">
            <div class="book-card">
                <div class="book-image" style="background-image: url('{{ book.thumbnail }}');"></div>
                <div class="book-info">
                    <h3>{{ book.title }}</h3>
                    <p><span class="bold-text">Автор(ы):</span> {{ book.authors }}</p>
                    <p><span class="bold-text">Издатель:</span> {{ book.publisher }}</p>
                    <p><span class="bold-text">Кол-во страниц:</span> {{ book.page_count }}</p>
                    <p><span class="bold-text">Год выхода:</span> {{ book.published_date }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

    

<script src="{% static 'books/js/main.js' %}"></script>
<script src="{% static 'books/js/search.js' %}"></script>
{% endblock %}